<div>
    <h1>Estamos en el body</h1>
    <app-articles></app-articles>
    <app-articles></app-articles>
    <app-articles></app-articles>
    <app-articles></app-articles>
    <app-img-body></app-img-body>
</div>