<footer>
    <ul>
        <li *ngFor="let resources of this.footer.resources">{{ resources }}</li>
    </ul>
    <ul>
        <li *ngFor="let help of this.footer.help">{{ help }}</li>
    </ul>
    <ul>
        <li *ngFor="let community of this.footer.community">{{ community }}</li>
    </ul>
    <ul>
        <li *ngFor="let languages of this.footer.languages">{{ languages }}</li>
    </ul>
</footer>