footer{
    display:flex;
    justify-content: center;
    background-color: papayawhip;
    ul{
        padding-bottom: 20px;
        font-weight: bold;

        li{
            font-weight: normal;
            list-style: none;
            padding: 10px 0;
        }
    }
}