<nav>
    <div>
        <img src="{{logo}}" alt="{{logoAlt}}">
    </div>
        <ul>
            <li>{{home}}</li>
            <li>{{contact}}</li>
            <li>{{about}}</li>
        </ul>
</nav>