nav{
    display: flex;
    justify-content: space-between;

    div {
        max-width: 16rem;
        
        img{
            max-width: 100%;
        }
    }

    ul{
        display: flex;
        list-style: none;
        
        li{
            padding: 0 10px;
        }
    }
}